* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.hidden {
    display: none;
}

html {
    text-align: center;
    background-color: #6699FF;
    color: white;
    font-family: 'Muli', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

button {
    background-color: transparent;
}

header {
    position: relative
}

header .messageBox {
    position: absolute;
    top: 0px;
    left: 40%;
    background-color: #353535;
    color: #fff;
    padding: 10px 5%;
    width: 30%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .messageBox span,
header .messageBox a {
    color: #fff;
}

header .messageBox a {
    cursor: pointer;
    color: yellow;
}

.stubImage {
    padding-top: 20px;
    width: 100%;
    height: 12rem;
    /*    border-radius: 10px;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center center;
}

#searchFor {
    padding-top: 5px;
    padding-bottom: 5px;
}

#info {
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    background: white;
    color: black;
}

footer li {
    display: inline-block;
    text-decoration: none''
}

img {
    border-radius: 5px;
}

.homeButton {
    width: 100px;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 20px #999;
    background-repeat: repeat-x;
    background-position: center;
    font-size: 120%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: aliceblue;
    color: #353535;
    width: 150px;
}

.button:hover {
    background-color: #ccc;
}

.ctabutton {
    background-color: #353535;
    color: aliceblue;
}

.ctabutton:hover {
    background-color: black;
}

textarea {
    width: 100%;
    height: 400px;
}

footer {
    padding-top: 10rem;
}

.title {
    min-height: 20px;
    max-height: 20px;
}

footer li img {
    width: auto;
    max-height: 30px;
    border: 1px solid;
    border-radius: 5px;
}

.results {
    min-height: 40px;
    max-height: 40px;
    overflow: auto;
}

.note {
    min-height: 60px;
    overflow: auto;
    border: 1px;
}

.notelabel {
    min-height: 50px;
    max-height: 50px;
    overflow: auto
}

#videoTitle,
#info,
#instruction {
    margin: 20px;
    font-size: 140%;
}

@media only screen and (max-width: 768px) {
    header button img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .stubImage {
        padding-top: 20px;
        width: 100%;
        height: 22rem;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-size: cover;
        background-position: center center;
    }
}
